
.imgBannerAutofinanciamiento{
    width: 100%;  height: 50rem;  margin-top: 0px;
    filter: brightness(0.7);
    background-size: cover;
    background-image: url("@/assets/banners/hero_autofinanciamiento_cobb_capital_patrimonial.jpg");
    background-position: 50% 25%;
}
.h1__hero__banners_autofinanciamiento {
    font-size: 80px;
    top: -4rem;
    background-color: transparent;  color:white;
    text-align: center;  position: absolute; 
    width: 100vw;  font-weight: 700;
}
