html {
	font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1, h2 ,h3 ,h4{
  font-family:sans-serif;
}
p, span, a, li{
  font-family: sans-serif;
}
strong{
  font-family: "Outfit Bold";
  font-weight: 700;
}
a {
  text-decoration: none;
}
h1{
  color: map-get($map: $theme-colors, $key: light);
  background-color:  map-get($map: $theme-colors, $key: primary);
  font-size: 3rem;
  padding: .5rem 1rem;
}
h2{
  font-size: 2.8rem;
  color: map-get($map: $theme-colors, $key: primary);
}
h3{
  font-size: 2.4rem;
  color: map-get($map: $theme-colors, $key: light);
}
h4{
  font-size: 3rem;
}
.h4__rojo {
  color: map-get($map: $theme-colors, $key: primary);
}
p, li{
  font-size: 1.7rem;
  color: map-get($map: $theme-colors, $key: text);
}
p.bold{
  font-family: "Outfit Medium";
  font-weight: 500;
  font-size: 1.7rem;
}
.home__firstText p {
  font-size: 1.7rem;
}
button{
  border: 0 solid transparent;
  background-color: transparent;
}
.white {
  color: map-get($map: $theme-colors, $key: light);
}
.red{
  color: map-get($map: $theme-colors, $key: primary);
}
nav{
  background-color: map-get($map: $theme-colors, $key: primary);
  width: 100%;
  opacity: 90%;
  font-family: "Bebas Neue Bold";
  box-shadow: .5rem .1rem 1rem black;
}
.sticky-top {
  z-index: 10;
}
footer{
  background-color: map-get($map: $theme-colors, $key: primary);
  font-family: "Bebas Neue Bold";
  font-size: 2rem;
  a{
    font-family: "Bebas Neue Bold";
    font-size: 2rem;
    text-decoration: underline;
  }

}

@media screen and (min-width: 320px) {

}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
  
}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1500px) {

}

@media screen and (min-width: 2000px) {

}


